{{#if this.partialHeading}}
  <h2 style="font-size: 26px; line-height: 30px; margin-bottom: 32px;">Where to order a self-test kit online</h2>
{{/if}}

{{#each this.onlineProviders}}
    {{> online-service service=this}}
{{/each}}