<details role="group">
    <summary class="more-info" role="button" aria-controls="details-content-1" tabindex="0" aria-expanded="false">
        <span>View opening times</span>
    </summary>
    <div id="details-content-1" aria-hidden="true">

        <table class="gpOpeningTimes">
            <tbody>
            <tr>
                <td class="left60">Monday</td>
                <td class="right">11am to 2pm</td>
            </tr>
            <tr>
                <td class="left60">Tuesday</td>
                <td class="right40">11am to 2pm</td>
            </tr>
            <tr>
                <td class="left60">Wednesday</td>
                <td class="right">11am to 3pm</td>
            </tr>
            <tr>
                <td class="left60">Thursday</td>
                <td class="right">11am to 3pm</td>
            </tr>
            <tr>
                <td class="left60">Friday</td>
                <td class="right">11am to 3pm</td>
            </tr>
            <tr>
                <td class="left60">Saturday</td>
                <td class="right40">Closed</td>
            </tr>
            <tr>
                <td class="left60">Sunday</td>
                <td class="right40">Closed</td>
            </tr>
            </tbody>
        </table>
    </div>
</details>