{{#if this.partialHeading}}
  <h2 style="font-size: 26px; line-height: 30px; margin-bottom: 32px;">Pharmacies where you can buy a self-test kit</h2>
{{/if}}

{{#each this.pharmacies}}
    {{> service service=this}}
{{/each}}