{{#if this.partialHeading}}
 <h2 style="font-size: 26px; line-height: 30px; margin-bottom: 32px;">Places you can see someone</h2>
{{/if}}

{{#each this.SHProviders}}
    {{> service service=this}}
{{/each}}