<div class="callout callout--muted">
    Buy a chlamydia test kit from this pharmacy. You'll have to take your own samples and send them by Freepost to be
    tested. You'll usually get the results within 2 weeks.
</div>