<div class="callout callout--muted">
    Pick up a free chlamydia test kit from this drop-in health service. You'll have to take your own samples and send
    them by Freepost to be tested. You'll usually get the results within 2 weeks.
</div>