<div class="callout callout--muted">
    Call to book a free chlamydia test at this health service. You can drop in but you may have to wait a few hours
    before you can see someone. Call to find out their drop-in times. You'll usually get your results within 2 weeks.
</div>