<div class="callout callout--muted">
    Order a free chlamydia test kit online. It will arrive by post in plain packaging. You'll have to take your own
    samples and send them by Freepost to be tested. You'll usually get the results within 2 weeks.
</div>