<div class="callout callout--muted">
    Get a free chlamydia test at this drop-in service. You can't make an appointment. You may have to wait a few hours
    before you can see someone. You'll usually get your results within 2 weeks.
</div>