Location generic u25

<div class="callout callout--muted" style="margin-top: 8px; margin-bottom: 8px;">You do not have to make an appointment. You can walk in. You may have to wait several hours before you are seen by a specialist.</div>