<h2>Do you have any of the following symptoms?</h2>

<ul>
    <li>discomfort or pain when urinating (peeing)</li>
    <li>discharge from your bottom</li>
    <li>vaginal discharge that is not usual for you</li>
    <li>bleeding between periods</li>
    <li>vaginal bleeding during or after sex</li>
    <li>vaginal pain during sex</li>
    <li>pelvic pain</li>
    <li>discharge from the penis</li>
    <li>pain in the testicles</li>
</ul>

{{> components/radio-button-2
        radio-1="Yes, I have some of these symptoms"
        radio-1-value="yes"
        radio-2="No, I don't think I have any of these symptoms"
        radio-2-value="no"
        radio-name="hasSymptoms"
}}
