<h2>Do you have any of these symptoms?</h2>

<ul>
    <li>discomfort or pain when urinating (peeing)</li>
    <li>discharge from your bottom</li>
    <li>vaginal discharge that is not usual for you</li>
    <li>bleeding between periods (even if you use contraception)</li>
    <li>bleeding during or after sex (in women)</li>
    <li>pain during sex (in women)</li>
    <li>pelvic pain (in women)</li>
    <li>discharge from your penis</li>
    <li>pain in your testicles</li>
</ul>

{{> components/radio-button-2
        radio-1="Yes, I have some of these symptoms"
        radio-1-value="yes"
        radio-2="No, I don't think I have any of these symptoms"
        radio-2-value="no"
        radio-name="hasSymptoms"
}}
