<h2>How old are you?</h2>

{{> components/radio-button-3
        radio-1="15 and under"
        radio-1-value="15"
        radio-2="16 to 24"
        radio-2-value="18"
        radio-3="25 and over"
        radio-3-value="32"
        radio-name="age"
}}