<h2>We recommend that you see a sexual health professional</h2>

<p>This is because you have symptoms.</p>
<p>A health professional can check if you should be tested for other sexual health problems.</p>

<form class="form" id="pageform" method="get">
    <input type="hidden" name="sel" id="sel" value="true" >
    <input type="submit" class="button" value="Continue to find a sexual health professional">
</form>