<h2>{{ locationTimeHeading }}</h2>

<p>{{ locationTimePara }}</p>

{{> components/check-boxes-5
        checkbox-1="Any time Monday to Friday"
        checkbox-1-value="wdays"
        checkbox-2="Saturday or Sunday"
        checkbox-2-value="wend"
        checkbox-3="Early morning and late afternoon Monday to Friday"
        checkbox-3-value="outworkwdays"
        checkbox-4="Between midday and 2pm Monday to Friday"
        checkbox-4-value="lunchwdays"
        checkbox-5="After 6pm Monday to Friday"
        checkbox-5-value="oohwdays"
        checkbox-name="prefTimes"
}}