<h2>What times work best for you?</h2>

<p>We'll show you places that are open at the times you choose.</p>

{{> components/check-boxes-5
        checkbox-1="Any time Monday to Friday"
        checkbox-1-value="weekdays"
        checkbox-2="Saturday or Sunday"
        checkbox-2-value="weekend"
        checkbox-3="Early morning and late afternoon Monday to Friday"
        checkbox-3-value="aroundworkweekdays"
        checkbox-4="Between midday and 2pm Monday to Friday"
        checkbox-4-value="lunchweekdays"
        checkbox-5="After 6pm Monday to Friday"
        checkbox-5-value="oohweekdays"
        checkbox-name="preferredTimes"
}}