<h2>Where do you want the test kit delivered to?</h2>

<p>We'll show you the website where you can order your kit.</p>

<form class="form" id="pageform" method="get">

    <div class="section">
        <div class="form-line">
            <label for="loc" class="form-label"><h3>Enter a postcode.</h3></label>
            <input type="text" placeholder="" name="loc" id="loc" class="form-textbox" aria-describedby="hintId">
        </div>
    </div>

    <input type="submit" class="button" value="Continue">
</form>