<h2>Where do you want to get a test?</h2>

<form class="form" id="pageform" method="get">

    <div class="section">
        <div class="form-line">
            <label for="loc" class="form-label"><h3>This can be a town, city or postcode.</h3></label>
            <input type="text" placeholder="" name="loc" id="loc" class="form-textbox" aria-describedby="hintId">
        </div>
    </div>

    <p><b>If your delivery address is different</b></p>

    <div class="section">
        <div class="form-line">
            <label for="loc1" class="form-label"><h3>This can be a town, city or postcode.</h3></label>
            <input type="text" placeholder="" name="loc1" id="loc1" class="form-textbox" aria-describedby="hintId">
        </div>
    </div>

    <input type="submit" class="button" value="Continue">
</form>